/* general styling */
html {
    min-height: 100%;
    background-image: linear-gradient(#ffffff, #d6eeff);
}

body, input, textarea, select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    
    padding: 0.5em;
    background-color: #ffffff;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #a3d8ff;
}

/* styling for the top part of the page */
#left {
    width: 420px;
    max-height: 100px;
    float: left;
    display: block;
    
}

#logo {
    margin-top: 10px;
    float: left;
    width: 100px;
    height: 77px;
}

#titletxt {
    float: right;
    max-height: 100px;
    width: 300px; 
}

#right {
    margin-top: 90px;
    width: 250px;
    float: right;
}

#out {
    margin-left: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    float: right;
    padding: 2px;
    width: 100px;
}

#contacts {
    float: left;
    padding-top: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

/* navigation bar styling */
ul {
    width: 98%;
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;    
}

li {
    float: left;
    color: black;
    width: 120px;
    
}

li a {
    display: block;
    color: black;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    text-align: center;
    padding: 7px 10px;
    font-size: 12px;
    text-decoration: none;
}

li a:hover {
    background-color: antiquewhite;
}

#activePage {
    background-color: #9ec6e2;
    font-weight: bold;
}


/* form styling */

#walkForm {
    padding-left: 10rem;
    width: 83%;
    border-bottom: 2px solid black;
}

span {
    width: 150px;
    text-align: right;
    margin-left: 1px;
}

input {
    width: 250px;
}

fieldset {
    margin-bottom: 0.5em;
    border: 0 none;
}

legend {
    padding-top: 20px;
    font-size: 1.4em;
    font-weight: bold;
}

#status {
    width: 200px;
}


label span:first-child {
    display: inline-block;
    min-width: 6em;
}

input:not([type="submit"]), textarea {
    border: 2px inset #eee;
    padding: 2px;
}

select {
    border: 2px inset #eee;
    padding: 1px; 
}

input[type="submit"] {
    margin-left: 150px;
    margin-top: 10px;
    border-radius: 2px;
    border: 1px solid black;
}

input[type="submit"] + br {
    clear: both;
}

.block {
    display: block;
    margin: 0.5em 0;
}

label.required span:first-child::after {
    content: ' *';
    color: #c00;
}
      
input:focus, textarea:focus, select:focus {
    outline: 2px solid #4286f4;
}

input.visited:invalid,
textarea.invalid {
    background-color: #fffafa;
}

span.ok, span.error {  
    width: 300px;
    position: absolute; 
    opacity: 0;
    transition: opacity 0.2s; 
    text-align: left;
}

span.ok::before {
    content: "\2714";
    color: #0a0;
    margin: 0 0 0 0.5em;
}
      
span.error::before {
    content: "\2718";
    color: #a00;
    margin: 0 0 0 0.5em;
}

input.visited:valid ~ span.ok,
input.visited:invalid ~ span.error {
    opacity: 1; 
}

/* table styling */
table {
    border-collapse: collapse;
    width: 70%;
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em; 
}


th {
    background-color: #d6eeff; 
    font-size: 12px;
    text-align: left;
    border: 1px solid black;
}

td {
    background-color: #ffffff; 
    border: 1px solid black;
}

/* Footer style rules */

.footer{ 
    border-top: 2px solid black;
    width: 98%;
    height: 40px;
}

#footerLeft {
    width: 80%;
    float: left;
    margin-bottom: 20px;
}

#footerRight {
    margin-top: 15px;
    width: 20%;
    float: right;
    margin-bottom: 20px;
}

/* media rules for a small screen device */
@media screen and (max-width: 500px) {
    html{
        max-width: 100%;
    }
    
    body {
        max-width: 100%;
    }
    
    #left {
        width: 50%;
        float: left;
    }
    
    #right {
        margin-top: 140px;
        width: 10rem;
        height: 5rem;
        float: right;
    }
    
    #logo {
        max-width: 10rem;
    }
    #titletxt {
        float: left;
        max-width: 200px; 
    }
    
    #right {
        margin-top: 2px;
    }
    
    #contacts { 
    float: right;
    }
    
    ul {
        margin-top: 12rem;
        width: 97%;
        padding: 2px;
    }
    
    #walkForm {
    padding-left: 1rem;
    }
    
    fieldset {
        height: 30rem;
        max-width: 20rem;
    }
    
    span {
        float: left;
        text-align: left;
    }
    
    input[type="submit"] {
        margin-top: 2rem;
        margin-left: 1rem;
    }
    
    table {
        margin-left: 1px;
        width: 99%;
    }
 
    #footerRight {
        float: right;
    }
    
    span.ok, span.error { 
    float: left;
    width: 100px;
    opacity: 0;
    transition: opacity 0.2s; 
    text-align: left;
}
}
