ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: white;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: 1px;
    border-bottom-width: 1px;
    
}

li {
  float: left;
    color: black;
    width: 120px;
}

li a {
  display: block;
  color: black;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  text-align: center;
  padding: 7px 10px;
  font-size: 12px;
  text-decoration: none;
}

li a:hover{
    background-color: antiquewhite;
}

#activePage{
    background-color: aqua;
}

#formTable{
    margin-left: 200px;
    text-align: right;
}

#table{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 40px;    
}

.form-group{
    padding: 2px;
}